{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <!-- Горизонтальное меню -->
  {% include 'main/nav.html' %}

  <!-- Основной контент -->
  <div class="main-content">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <!-- Футер -->
  {% include 'main/footer.html' %}

  <!-- Подключаем Bootstrap JS и зависимости -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>