{% extends 'main/layout.html' %}
{% block title %}
    Делимся новостью!
{% endblock %}

{% block content %}

    <h1>Ты что-то узнал? Поделись новостью!</h1>
       <div>
           <h2> Пиши сюда!</h2>
            <form method="post" action="" class="container mt-5">
             {% csrf_token %}
    <div class="mb-3">
        {{form.title}}
    </div>

    <div class="mb-3">
        {{form.short_description}}
    </div>

    <div class="mb-3">
        {{form.text}}
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            {{form.pub_date}}
        </div>
    </div>

    <div class="mb-3">
        {{form.author}}
    </div>

    <button type="submit" class="btn btn-primary">Добавить новость</button>
</form>

<p>{{error}}</p>
       </div>



{% endblock %}